body{
    height: 100vh;
    width: 100vw;
    
}

.attribution { 
    bottom: 0;
    font-size: 11px; 
    position: absolute;
    text-align: center; 
    width: 100%;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.car-container {
    display: inline-flex;
    flex-direction: row;
    height: 60vh;
    position: absolute;
    width: 66%;
}

.car-div1, .car-div2, .car-div3 {
    width: 33%;
    padding: 2.75em 3em 1.5em 2.4em ;
}

.title {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-stretch: ultra-expanded;
    font-size: 3em;
    margin-bottom: .6em;
}

.blurb {
    color: rgba(255, 255, 255, 0.74);
    font-family: 'Lexend Deca', sans-serif;
    font-kerning: auto;
    line-height: 35px;
    font-size: 19px;
}

.car-div1{
    background-color: hsl(31, 77%, 52%)
}
.car-div2{
    background-color: hsl(184, 100%, 22%)
}
.car-div3{
    background-color: hsl(179, 100%, 13%)
}

.learn-more {
    background-color: transparent;
    border-radius: 2em;
    border: 2px solid white;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-stretch: wider;
    padding: 1em 2.5em 1em 2.5em;
    position: absolute;
    bottom: 3em;
}